In [13]:
my_list = [1,2,3,4,5]

In [14]:
for number in my_list:
    print(number)

1
2
3
4
5

In [15]:
for item in my_list:
    new_number = item * 5
    print(new_number)

5
10
15
20
25

In [16]:
for number in my_list:
    if number % 2 == 0:
        print(number)

2
4

In [17]:
10 % 2

0

In [18]:
11 % 3

2

In [19]:
11 % 2

1

In [20]:
if 2 in my_list:
    print("true")

true

In [21]:
for num in my_list:
    if num == 2:
        print("TTT")

TTT

In [22]:
my_string = "Serdarhan Dikmen"

In [23]:
my_string[10]

'D'

In [24]:
for serdar in my_string:
    print(serdar)

S
e
r
d
a
r
h
a
n

D
i
k
m
e
n

In [25]:
my_tuple = (1,2,3)

In [26]:
for item in my_tuple:
    print(item * 5 * 5)

25
50
75

In [27]:
my_new_list = [("a","b"),("c","d"),("e","f"),("k","l")]

In [28]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('k', 'l')

In [29]:
for (x,y) in my_new_list:
    print(x)

a
c
e
k

In [30]:
my_dictionary = {"k1": 100, "k2": 200, "k3": 300}

In [34]:
for key,value in my_dictionary.items():   
    print(key)

k1
k2
k3