## range

In [1]:
range(20)

range(0, 20)

In [3]:
list (range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
for number in list(range (20)):
    print(number * 5)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [14]:
for num in list(range (40,60,2)):
    print(num)

40
42
44
46
48
50
52
54
56
58

## Enumerate

In [25]:
index = 0
for number in list(range (5,20)):
    print(f" no: {number} ix: {index}")
    index += 1

 no: 5 ix: 0
 no: 6 ix: 1
 no: 7 ix: 2
 no: 8 ix: 3
 no: 9 ix: 4
 no: 10 ix: 5
 no: 11 ix: 6
 no: 12 ix: 7
 no: 13 ix: 8
 no: 14 ix: 9
 no: 15 ix: 10
 no: 16 ix: 11
 no: 17 ix: 12
 no: 18 ix: 13
 no: 19 ix: 14

In [26]:
for element in enumerate (list (range(1,20))):
    print(element)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)
(10, 11)
(11, 12)
(12, 13)
(13, 14)
(14, 15)
(15, 16)
(16, 17)
(17, 18)
(18, 19)

## Önce İndex Sonra Numara Aldı

In [31]:
for (index,number) in enumerate(list(range(5,15))):
    print(index)
    print(number)

0
5
1
6
2
7
3
8
4
9
5
10
6
11
7
12
8
13
9
14

## Random

In [14]:
from random import randint

In [15]:
randint(0,1000)

808

In [16]:
randint(0,1000)

549

In [17]:
my_list_2 = list(range(0,10))

In [18]:
my_list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
from random import shuffle

In [20]:
my_list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
shuffle(my_list_2)

In [23]:
my_list_2

[5, 1, 7, 6, 9, 8, 3, 4, 0, 2]

## Zip

In [25]:
spor_listesi = ["KOŞ","YÜZ","BASKETBOL"]

In [26]:
kalori_listesi = [100,200,300]

In [28]:
gün_listesi  = ["Salı","Çarşamba","Cuma"]

In [29]:
yeni_liste = list(zip(spor_listesi,kalori_listesi,gün_listesi))

In [30]:
yeni_liste

[('KOŞ', 100, 'Salı'), ('YÜZ', 200, 'Çarşamba'), ('BASKETBOL', 300, 'Cuma')]

In [33]:
for element in yeni_liste:
    print(element)

('KOŞ', 100, 'Salı')
('YÜZ', 200, 'Çarşamba')
('BASKETBOL', 300, 'Cuma')

## İLERİ SEVİYE

In [35]:
new_list = []
my_string = "sagopa"

for element in my_string:
    new_list.append(element)

In [36]:
new_list

['s', 'a', 'g', 'o', 'p', 'a']

## yukardaki işlemin daha kısası

In [37]:
new_list = [element for element in my_string]

In [38]:
new_list

['s', 'a', 'g', 'o', 'p', 'a']

In [42]:
new_list_2= [number**5 for number in list(range(0,10))]

In [43]:
new_list_2

[0, 1, 32, 243, 1024, 3125, 7776, 16807, 32768, 59049]