In [1]:
my_string = "Serdar"

In [2]:
my_string_upper = my_string.upper()

In [3]:
my_string

'Serdar'

In [4]:
my_string_upper = my_string.upper()

In [5]:
my_string

'Serdar'

In [6]:
def hello_world():
    print("hello")
    print("world")

In [7]:
hello_world()

hello
world

##  input & return

In [8]:
def hello_programming(name):
    print("Hello")
    print("name")

In [9]:
hello_programming("pyhton")

Hello
name

In [10]:
def hello_program(name = "pyhton"):
    print("hello")
    print(name)

In [11]:
hello_program()

hello
pyhton

In [12]:
hello_program("java")

hello
java

In [13]:
def topla(number1,number2):
    nember3 = number1+number2
    print(nember3)

In [14]:
topla(5,8)

13

In [15]:
topla(100,+-500)

-400

In [16]:
def summation(num1,num2,num3):
    return num1+num2+num3

In [17]:
summation(10,20,30)

60

In [18]:
my_result = summation(10,20,30)

In [19]:
my_result

60

In [20]:
def control_string(s):
     if s[0] == "m":
            print("mmm")

In [21]:
control_string("paris")

In [22]:
control_string("mahmut")

mmm

In [23]:
def control_string(s):
     if s[0] == "m":
            print(s.capitalize())

In [24]:
control_string("metalica")

Metalica

In [25]:
control_string("amsterdam")

## arbitary arguments & key word arguments

In [1]:
def topla_2 (*args):
    return sum (args)

## args

In [2]:
topla_2 (55,20,30)

105

In [6]:
def my_func (*args):
    print(args)

In [7]:
my_func("a","b",1,2,3,14)

('a', 'b', 1, 2, 3, 14)

In [29]:
def example_func(**kwargs):
    print(kwargs)

In [30]:
example_func(run=100,swim=200,basketbol=500)

{'run': 100, 'swim': 200, 'basketbol': 500}

In [25]:
example_func(a=1,b=2)

{'a': 1, 'b': 2}

In [31]:
def keyword_func(**kwargs):
    if "Metalica" in kwargs:
        print("Heavy Metall")
    else:
        print("Rock is Dead")

In [32]:
keyword_func(Metallica=10,Madonna=5,Muslum=4)

Rock is Dead